header{
    background-color:azure;
    margin-top: 0px;
    margin-bottom: 60px;
    padding: 20px 20px 20px 40px;
    font-family:fantasy;
    border-top-style: solid;
    border-bottom-style: solid;
}

body{
    margin: auto;
    width: 100vw;
    height: 100vh;
    background-color:rgb(241, 252, 252);
}

a{
    text-decoration: none;
}

.Title{
    color:black;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    font-weight: bolder;
}

.PostTitle{
    color:black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration:underline;
}

.Paragraph{
    font-family:monospace;
    padding-bottom: 15px;
}

.Time{
    font-family: monospace;
    padding-bottom: 5px;
    
}

.Time, .PostTitle, .Paragraph{
    padding-left: 15px;
}

.cat{
    position:absolute;
    top:0px;
    right:0px;
    width: 10.5%;
    height:auto;
    float: right;
    mix-blend-mode: color-burn;
}

.git, .linkedin{
    border-radius: 10px;
    background-color: aliceblue;
    border-color: black;
    display: flex;
    color: black;
    min-width: 100px;
    min-height: 30px;
    text-align: center;
    display: inline-block;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.git:hover, .linkedin:hover{
    background-color:cornflowerblue;
    transition: 0.5s;
}